<section class="form-elements style-2">
  <div class="section-padding">
    <div class="right-panel">
      <h4>Create Your Account</h4>
      <%= form_for @user, html: {class:'register-form'} do |f| %>
        <p class="form-input">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </p>
        <p class="form-input">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </p>
        <p class="submit-input">
          <input type="submit" class="btn" name="signup-form-submit" value="Register Now">
        </p>
      <% end %>
    </div><!-- /.right-panel -->
    <span class="bottom-text">
      Already Have an Account? <a href="/signin">Sign In</a>
    </span>
  </div><!-- /.section-padding -->
</section><!-- /.form-elements -->
