<div class="col-sm-6">
  <article class="post type-post">
    <div class="entry-thumbnail">
      <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                            class: 'img-rounded'),
                  "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>
    </div><!-- /.entry-thumbnail -->
    <div class="entry-content">
      <h2 class="entry-title"><%= video.title %></h2>
      <div class="entry-meta">
        <span><i class="fa fa-clock-o"></i> <time datetime="PT5M"><%= video.published_at.strftime('%-d %B %Y') %></time></span>
        <span><i class="glyphicon glyphicon glyphicon-thumbs-up"></i> <span class="count"><%= video.likes %></span></span>
        <span><i class="glyphicon glyphicon glyphicon-thumbs-down"></i> <span class="count"><%= video.dislikes %></span></span>
      </div><!-- /.entry-meta -->
    </div><!-- /.entry-content -->
  </article><!-- /.post -->
</div>
