<!DOCTYPE html>
<html>
  <head>
    <title>Funnytube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="top-sitemap text-left">
                <% if logged_in? %>
                  <span><i class="fa fa-user"></i><%= current_user.email %></span>
                  <span><a href="/signout" data-method='delete'><i class="fa fa-lock"></i> Sign Out</a></span>
                <% else %>
                  <span> <a href="/signin"><i class="fa fa-lock"></i> Sign In</a></span>
                  <span><a href="/signup"><i class="fa fa-user"></i> Register</a></span>
                <% end %>
              </div><!-- /.top-sitemap -->
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-top -->

      <div class="header-middle">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="navbar-brand hidden-xs"><a href="/"><span class="logo-text">FunnyTUBE</span></a></div>
            </div>
          </div>
        </div>
      </div><!-- /.header-middle -->

      <div class="header-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <nav class="navbar navbar-default">
                <div class="navbar-header visible-xs">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                  </button>
                </div>

                <div id="menu" class="main-menu collapse navbar-collapse pull-left">

                  <ul class="nav navbar-nav">

                    <li class="menu-item active">
                      <a href="/">Home</a>
                    </li>

                    <li class="menu-item menu-item-has-children">
                      <a href="#">Categories</a>
                      <ul class="sub-menu children">
                        <li><a href="#">Funny</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Travel</a></li>
                      </ul>
                    </li>
                    <% if logged_in? %>
                      <li class="menu-item menu-item-has-children">
                        <a href="#">My account</a>
                        <ul class="sub-menu children">
                          <li><%= link_to "My Videos", my_videos_share_videos_url %></li>
                          <li><%= link_to "Share Video", new_share_video_url %></li>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </nav><!-- /.navbar -->
            </div>
          </div>
        </div><!-- /.container -->
      </div><!-- /.header-bottom -->
    </header><!-- /.header -->
    <%= yield %>
  </body>
</html>
